.scroll-container {
  position: relative;
  overflow: hidden; /* Ensures only the visible portion of the content is shown */
  width: 100%; /* Optional, set the width you want for the container */
}

.scroll-content {
  display: flex;
  animation: scroll-left 50s linear infinite;
  white-space: nowrap; /* Prevents wrapping of content */
}

@keyframes scroll-left {
  0% {
      transform: translateX(0);
  }

  100% {
      transform: translateX(-100%); /* Scroll the content fully to the left */
  }
}
